@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

* {
  font-family: 'Roboto', sans-serif !important;
}

code, pre {  
  font-family: 'Roboto Mono', monospace !important;
}

body {
  font-size: 16px !important;
  line-height: 1.5;
  margin: 0;
  color: #333;
  background-color: #e9e9e9;
}

.page {
  min-width: 98vw;
  margin: 2rem auto;
  background: #fff;
  padding: 1rem;
}

h1 {
  font-size: 44px !important;
  letter-spacing: -0.5px !important;
  line-height: 46px !important;
  margin: 22px 0 15px 0 !important;
}

h2 {
  font-size: 35px;
  line-height: 38px;
  font-weight: bold;
}

h3 {
  font-size: inherit;
  font-weight: bold;
  border-bottom: 1px solid #333;
}

ul {
  margin: 1rem;
}

ol {
  margin: 1rem;
}
img {
   padding: 0 1.5em 1.5em 0;
   max-width: 40em; 
   float: left;
   clear: left;
}

a {
  color: #f06040;
  text-decoration: none;
  border-bottom: 1px solid #f06040;
  transition: border-bottom-color .15s ease-out,color .2s ease-out;
}

pre {
  border: 1px solid #c03010;
  background-color: #ccc;
  padding: 1rem;
}

code {
  color: #666;
}

pre > code {
  color: #333;
}

.articleTitle {
  padding: 0 .5em 0 .5em;
}

/* Caption styling - collapsed by default with expand/collapse toggle */
.caption {
  font-size: 12px;
  color: #666;
  font-style: italic;
  margin: 0;
  padding: 2px 0;
  line-height: 1.3;
}

.caption-content {
  display: none;
  padding-left: 0.5em;
}

.caption-content.expanded {
  display: inline;
}

.caption-toggle {
  cursor: pointer;
  color: #f06040;
  font-weight: bold;
  user-select: none;
  font-style: normal;
}

.caption-toggle:hover {
  text-decoration: underline;
}

/* Responsive design for larger screens */
@media (min-width: 1400px) {
  .page {
    min-width: 90vw;
  }
}

@media (min-width: 1800px) {
  .page {
    min-width: 85vw;
  }
}